@font-face {
  font-family: HelveticaNeue;
  src: url('./fonts/HelveticaNeue.ttc') format('ttc');
}

body {
  background-color: rgb(192, 193, 194);
  font-family: HelveticaNeue;
}

.header {
  background-color: rgb(192, 193, 194);
  z-index: 2;
}

.sidebar {
  top: 1em;
  z-index: 1;
}

p, a, h1 {
  margin: 0;
  font-size: 21px;
  line-height: 25px;
}

h1 {
  text-transform: uppercase;
  font-weight: normal;
  font-style: italic;
}

a {
  color: black;
  text-decoration: underline;
}

a:hover {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 992px) { /* tablet */
  .sidebar {
    position: relative !important;
    top: 0;
  }
  
  p, a , h1 {
    font-size: 18px;
    line-height: 21px;
  }
}

@media screen and (max-width: 768px) { /* mobile */ 
  p, a, h1 {
    font-size: 20px;
    line-height: 24px;
  }
}
