@font-face {
  font-family: HelveticaNeue;
  src: url('./fonts/HelveticaNeue.ttc') format('ttc');
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(205, 205, 205);
  font-family: HelveticaNeue;
}

.header {
  background-color: rgb(205, 205, 205);
  z-index: 2;
}

.navigator {
  cursor: pointer;
}

.sidebar {
  top: 1em;
  z-index: 1;
}

p, a, h1 {
  margin: 0;
  font-size: 22px;
  line-height: 27px;
  font-weight: normal;
}

h1 {
  text-transform: uppercase;
  font-weight: normal;
  font-style: italic;
}

.title span {
  font-weight: normal;
  font-style: italic;
}

.sidebar a {
  color: black;
  text-decoration: none;
  border-bottom: 2px solid black;
}

.sidebar a:hover {
  color: #dc3545;
  text-decoration: none;
  border-bottom: 2px solid #dc3545;
}

@media screen and (max-width: 992px) { /* tablet */
  .sidebar {
    position: relative !important;
    top: 0;
  }
}
